<div class="container my-5 py-5">
    <div class="container text-center">
        <h2>Let's Get In Touch!</h2>
        <hr class="my-4" />
    </div>
    <div class="container text-center">
        <div class="row">
            <div class="contact col-lg-3 col-md-6 text-center">
                <i class="fas fa-3x fa-phone pb-3"></i>
                <p>+34 682 290 683</p>
            </div>
            <div class="contact col-lg-3 col-md-6 text-center">
                <i class="fas fa-3x fa-envelope pb-3"></i>
                <div>
                    <a href="mailto:pablo.om@luthierotero.com">pablo.om@luthierotero.com</a>
                </div>
            </div>
            <div class="contact col-lg-3 col-md-6 text-center">
                <i class="fab fa-3x fa-facebook-square pb-3"></i>
                <div>
                    <a href="https://www.facebook.com/P%C3%A1gina-Luthier-Otero-101361504651148/">Luthier Otero</a>
                </div>
            </div>
            <div class="contact col-lg-3 col-md-6 text-center">
                <i class="fab fa-3x fa-instagram pb-3"></i>
                <div>
                    <a href="mailto:pablo.om@luthierotero.com">@luthierotero</a>
                </div>
            </div>
        </div>
    </div>
</div>