<div class="wrapper-blue">
    <div class="wrapper-white ">
        <div class="container py-5 text-center ">
            <h2>Whatever you need</h2>
            <hr class="my-4" />
        </div>
        <div class="container py-3 text-center">
            <div class="row">
                <div class="service col-lg-4 col-md-6 text-center">
                    <i class="fas fa-4x fa-music"></i>
                    <h3 class=" my-3">New Instruments</h3>
                    <p>Try, buy and borrow new handmade instruments. Do you want a customize instrument, just contact us!
                    </p>
                </div>
                <div class="service col-lg-4 col-md-6 text-center">
                    <i class="fas fa-4x fa-magic"></i>
                    <h3 class=" my-3">Restoration</h3>
                    <p>
                        An accident happened?
                        <br />
                        No worries, we'll fix it.
                    </p>
                </div>
                <div class="service col-lg-4 col-md-6 text-center">
                    <i class="fas fa-4x fa-wrench"></i>
                    <h3 class=" my-3">Maintenance</h3>
                    <p>Be sure that your instrument will not fail you during performance.</p>
                </div>
            </div>
        </div>
    </div>
</div>